- if flash[:notice]
  %p.flash= flash[:notice]
.container-fluid
  .from
    %h2.from__title  登録情報編集
    .from__boxs
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        .from-boxs__box__titles__require 必須
        .from__boxs__field
          = f.text_field :name,placeholder:"ニックネーム",class:"from__boxs__field"
        .from-boxs__box__titles__require 必須
        .from__boxs__field
          = f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"email",class:"from__boxs__field"
        .from-boxs__box__titles__require 必須
        .from__boxs__field
          = f.password_field :password, autocomplete: "current-password",placeholder:"password",class:"from__boxs__field"
        .from-boxs__box__titles__require 必須
        .from__boxs__field
          = f.password_field :password_confirmation, autocomplete: "new-password",class:"from__boxs__field",placeholder:"もう一度パスワードを入力してください"
        .from-boxs__box__titles__require 必須
        .from__boxs__field
          = f.password_field :current_password, autocomplete: "current-password",class:"from__boxs__field",placeholder:"古いパスワードを入力してください"
        .from-boxs__box__titles__any 任意
        .from__boxs__field
          .custom-file
            = f.file_field :image,class:"from__boxs__field",id: :customFile,class:"custom-file-input"
            %label.custom-file-label{"data-browse" => "参照", for: "customFile"} ファイル選択...
          .image-box
            %img#img_prev{src:""}/
        .from__boxs__buttom
          = f.submit "送信",class:"from__boxs__buttom"
%h2.from-boxs__back 
  = link_to "戻る",:back,class:"from-boxs__back"