<div class="content">
  <% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
  <% end %>
  <div class="content__from">
   <%= form_for @tweet, url:tweets_path,method: :post do |f| %>
    <h3 class="content__theme">投稿フォーム</h3>
    <div class="content__title"> 
      <%= f.text_area :title,value: "\n~~~\n文字を入力\n~~~", rows: "5",cols: "200"%>
    </div>
    <div class="content__content">
      <%= f.text_area :content,value: "\n\n\n\n\n~~~\n問題を入力\n~~~", rows: "20",cols: "200"%>
    </div>
    <div class="content__point">
      <%= f.text_area :point, value: "\n\n\n\n\n~~~\n- ポイント１\n- ポイント2\n- ポイント3\n~~~", rows: "20",cols: "200" %>
    </div>
    <div class="content__button">
      <%= f.submit "SENT" %> 
    </div>
   <% end %>
  </div>
</div>


