<div class="content">
  <% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
  <% end %>
  <div class="content__from">
   <%= form_for @tweet do |f| %>
    <h3 class="content__theme">投稿フォーム</h3>
    <div class="content__title"> 
    <p>タイトルを入力</p>
      <%= f.text_area :title,value: @tweet.title,placeholder: '      ~~~ ~~~    で囲む', rows: "5",cols: "200" %>
    </div>
    <div class="content__content">
    <p>問題文を入力</p>
      <%= f.text_area :content,value: @tweet.content,placeholder: '      ~~~ ~~~    で囲む', rows: "20",cols: "200"%>
    </div>
    <div class="content__point">
    <p>ポイントを入力</p>
      <%= f.text_area :point, value: @tweet.point,placeholder: '      ~~~ ~~~    で囲む', rows: "20",cols: "200" %>
    </div>
    <div class="content__button">
      <%= f.submit "SENT" %> 
    </div>
   <% end %>
  </div>
</div>


