.container-fluid
  .from-boxs
    = form_for @tweet do |f|
      .from-boxs__box
        .from-boxs__box__titles
          %p.from-boxs__box__titles__title タイトルを入力
          %p.from-boxs__box__titles__require 必須
        = f.text_area :title,value: @tweet.title,placeholder: '60文字以内',class:"from-boxs__box__from"
      .from-boxs__box
        .from-boxs__box__titles
          %p.from-boxs__box__titles__title ポイントを入力
          %p.from-boxs__box__titles__require 必須
        = f.text_area :point, value: @tweet.point,placeholder: '      ~~~ ~~~    で囲む',class:"from-boxs__box__from"
      .from-boxs__box
        .from-boxs__box__titles
          %p.from-boxs__box__titles__title 問題文を入力
          %p.from-boxs__box__titles__require 必須
        = f.text_area :content,value: @tweet.content,placeholder: '      ~~~ ~~~    で囲む',class:"from-boxs__box__from"
      #hidden
        .from-boxs__box
          = f.text_area :select_problem1,value: "選択なし",placeholder: '      ~~~ ~~~    で囲む',class:"from-boxs__box__from"
          = f.text_area :select_problem2,value: "選択なし",placeholder: '      ~~~ ~~~    で囲む',class:"from-boxs__box__from"
          = f.text_area :select_problem3,value: "選択なし",placeholder: '      ~~~ ~~~    で囲む',class:"from-boxs__box__from"
          = f.text_area :select_problem4,value: "選択なし",placeholder: '      ~~~ ~~~    で囲む',class:"from-boxs__box__from"
          = f.text_area :select_problem5,value: "選択なし",placeholder: '      ~~~ ~~~    で囲む',class:"from-boxs__box__from"
          = f.select :type_problem,[1]
          = f.select :judge_problem1,[3]
          = f.select :judge_problem2,[3]
          = f.select :judge_problem3,[3]
          = f.select :judge_problem4,[3]
          = f.select :judge_problem5,[3]
      .from-boxs__box
        = f.submit "送信",class:"from-boxs__box__start-buttom"
  %h2.from-boxs__back 
    =link_to "戻る", new_tweet_path,class:"from-boxs__back"
  