 <% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<div class="content">
 <div class="content_message">
   <% @tweets.each do |tweet| %>
      <div class="content_message_text"><%=sanitize markdown(tweet.title)%>
      </div>
      <div class="content_message_option">
      <%= link_to "削除", tweet_path(tweet.id), method: :delete %>
      <%= link_to "編集", edit_tweet_path(tweet.id) %>
      <%= link_to "問題を解く", new_tweet_answer_path(tweet.id) %>
      </div>
    <%end%>
  </div>
</div>


